<launch>

  <include file="$(find franka_gazebo)/launch/panda.launch">
    <arg name="use_gripper" value="false"/>
  </include>


  <rosparam file="$(find franka_digital_twin)/config/joint_group_position_controller.yaml" command="load"/>


  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="position_joint_trajectory_controller joint_state_controller"
        output="screen">
    <param name="wait_for" value="true"/>
  </node>



</launch>

